# Exploratory Data Analysis

In [1]:
import pandas as pd

In [ ]:
cab_data = pd.read_csv("../G2M insight for Cab Investment firm/data/Cab_Data.csv")
customer_data = pd.read_csv("../G2M insight for Cab Investment firm/data/Customer_ID.csv")
transaction_data = pd.read_csv("../G2M insight for Cab Investment firm/data/Transaction_ID.csv")
city_data = pd.read_csv("../G2M insight for Cab Investment firm/data/City.csv")

`cab_data` includes details of transaction for 2 cab companies.

In [15]:
cab_data.head(n=5)

,Transaction ID,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip
0,10000011,42377,Pink Cab,ATLANTA GA,30.45,370.95,313.635
1,10000012,42375,Pink Cab,ATLANTA GA,28.62,358.52,334.854
2,10000013,42371,Pink Cab,ATLANTA GA,9.04,125.20,97.632
3,10000014,42376,Pink Cab,ATLANTA GA,33.17,377.40,351.602
4,10000015,42372,Pink Cab,ATLANTA GA,8.73,114.62,97.776

`customer_data` consists of a mapping table that contains a unique ID which links the customer's demographic details.

In [16]:
customer_data.head(n=5)

   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

`transaction_data` consists of a mapping table that contains transaction to customer mapping and payment mode.

In [17]:
transaction_data.head(n=5)

   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

`city_data` contains list of the US cities, their population and number of cab users.

In [18]:
city_data.head(n=5)

             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247